

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(165, 42, 42, 0.75); height: 9vh;">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <% if (!user) { %>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        
            <li class="nav-item hide-me">
                <a class="nav-link" href="/user/signin">Sign In</a>
            </li>
            <li class="nav-item hide-me">
                <a class="nav-link" href="/user/signup">Sign Up</a>
            </li>
                
    <% } else { %>
            <div class="d-flex" style="justify-self: start; position: absolute;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: rgb(143, 68, 60);;" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/home">Game Menu</a>
                        <a class="dropdown-item" href="/game/instructions">Instructions</a>
                        <a class="dropdown-item" href="/game/messageBoard">Message Boad</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/profile">Edit Profile</a>
                        <a class="dropdown-item" href="/user/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <% } %>

        </ul>

    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto align-middle">
            <span style="color: white; font-family: fantasy; font-size: 1.2em"><b>Tales from Swiftfell</b></span>
        </ul>
    </div>

    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <% if (user) { %>

            <li class="nav-item">
                <a href="/user/profile" class='nav-link' style="color: white;">Logged in as <span
                        style="color: rgb(92, 223, 17)"><%= user.profile.name%>
                    </span>
                </a>
            </li>
            <a href="/user/logout" class='nav-link' style="color: white;">Log out</a>

            <% } %>
        </ul>
    </div>
</nav>
<br><br>