<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
    <div id="app">
        <div id="main-img-area">
            <img onclick="link()" src="/images/title-img2.jpg" />
        </div>
    </div>


<link rel="stylesheet" href="/stylesheets/style-title.css">

<script>
function link() {
    window.location = '/home';
}
</script>
</body>
</html>