<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style-title.css">
    

<body>
    <div id="app">
        <a href="/home"><img id="titleImg" src="/images/title-img.jpg" /></a>
        <div id="titleText">
            <p>Tales from Swiftfell</p>
        </div>
    </div>

    
</body>
</html>