<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
    <div id="app">
        <div id="image-area">
            <div id="image-area-top">
                <img class="img-fluid" id="tfs-logo" class="img-fluid" src="/images/logo.png">
            </div>
            <div id="image-area-bottom">
                <img onclick="link()" class="img-fluid" id="tfs-enter" src="/images/enter-logo.png">
            </div>
        </div>
    </div>


<link rel="stylesheet" href="/stylesheets/style-title.css">

<script>
function link() {
    window.location = '/home';
}
</script>
</body>
</html>