<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
    
    <div id="main-img-area" class="row" style="height: 100vh;">
        <a class="mx-auto mt-auto mb-auto" href="/home"><img style="height: 80%; border-radius: 7px;" src="/images/title-img2.jpg"></a>
    </div>


<link rel="stylesheet" href="/stylesheets/style-title.css">
</body>
</html>