<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <p></p>
    <div class="main">
        
        <div id="form-area">
            <form class="form-signin" method="POST" action="/user/signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" size="50" placeholder="Email address" name="email">
                <br>
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit" style="font-family: fantasy;">Recover Password</button>
                </div>
                <br>
            </form>
        </div> 
    </div>

</body>

<link rel="stylesheet" href="/stylesheets/password-recovery.css">

</html>