<!doctype html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div id="app">
        <div id="sign-in-area">
            <img src="/images/scroll.png">
        </div>
        <div id="form-area">
            <form class="form-signin" method="POST" action="/user/signin">

            <% for (let err of loginMessage) { %>
            
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= err%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>

            <% for (let s of success) { %>
            
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= s%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control form-resize" placeholder="Email address" name="email">
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control form-resize" placeholder="Password" name="password">
            <br>
            <button class="btn btn-lg btn-primary btn-block form-resize" type="submit" style="font-family: fantasy;">Sign In</button>
            <br>
            <center><a style="color: blue;" href="/user/passwordrecovery"><b>Click here to recover password</b></a></center>
            </form>
        </div>
    
    </a>

    <link rel="stylesheet" href="/stylesheets/signin.css">
</body>
</html>