body {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

#title-sec {
    display: grid;
    height: 100vh;
    background-image: url('/images/title-bg.jpg');
    background-position-y: center;
    background-size: cover;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}

#title-sec-img {
    display: grid;
    grid-area: 2 / 2 / span 1 / span 1;
    opacity: 0.4;
    background-image: url('/images/title-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#title-sec-text {
    display: grid;
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}