body {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

#title-sec {
    display: grid;
    height: 90vh;
    background-image: url('/images/title-bg.jpg');
    background-position-y: center;
    background-size: cover;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}

#title-sec-img {
    display: grid;
    grid-area: 2 / 2 / span 1 / span 1;
    opacity: 0.4;
    background-image: url('/images/title-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#title-sec-text {
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#dragon-battle-sec {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#dragon-sec-img {
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('/images/dragon-battle.jpg');
    background-position-y: center;
    background-size: cover;
    opacity: 0.4;
}

#dragon-sec-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 1.5em;
    padding: 0 5vw 0 5vw;
    z-index: 2;
}

#card-sec {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#card-sec-img {
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('/images/world-map-mod.jpg');
    background-position: center;
    background-size: cover;
}

#signup-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#signup-sec-img {
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('/images/hero-sec4.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

#signup-sec-field {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 35vh;
    width: 60vw;
    background-color: #ADAFAC;
    opacity: 0.4;
    border-radius: 10px;
}

#signup-sec-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: 1.5em;
}

#signup-sec-text .btn {
    width: 20%;
}