body {
    font-family: 'Courgette', cursive;
    background-image: linear-gradient(to right, #00705e, rgb(1, 175, 175));
    color: black;
    width: 100vw;
}

.bg-image {
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-shadowing {
    text-shadow: 2px 2px rgb(146, 146, 146);
}

#main-sec1 {
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px, right;
}

#title-img {
    padding-top: 12vh;
}

#intro-text {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 1.35em;
}

#swiftfell-lore {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 100vh;
    background-position-y: center;
}

#swiftfell-lore-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    font-size: 1.1em;
}
#swiftfell-lore-left p {
    padding-left: 7vw;
    padding-right: 1vw;
}

#swiftfell-lore-right {
    display: flex;
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url('/images/fantasy-village1.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: 8%;
    background-position-y: 50%;
}

#basic-controls {
    display: grid;
    grid-template-columns: 33.3% 66.6%;
    grid-template-rows: 100%;
    height: 105vh;
}

#basic-controls-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('/images/controls.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#basic-controls-right {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / span 1 / span 1;
    align-items: center;
    font-size: 1.3em;
}

#basic-controls-right p {
    padding-right: 10vw;
}

#combat-basics {
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    grid-template-rows: 100%;
    height: 145vh;
}

#combat-basics-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    font-size: 1.3em;
}

#combat-basics-left p {
    padding-left: 7vw;
}

#combat-basics-right {
    display: grid;
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url('/images/combat-basics.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#main-characters {
    display: grid;
    height: 200vh;
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-position: center;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

#main-characters-center {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / span 1 / span 1;
    align-items: center;
}

#main-characters-bottom {
    display: grid;
    height: 190vh;
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-position-y: bottom;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

#main-characters-center-bottom {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / span 1 / span 1;
    align-items: center;
}



@media (max-width: 700px) {
    #title-img img {
        width: 70%;
        padding-top: 0;
    }

    #intro-text {
        font-size: 1em;
    }

    #swiftfell-lore {
        background-position: center;
        height: 74vh;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }

    #swiftfell-lore-left {
        grid-area: 1 / 1 / span 1 / span 1;
        font-size: 0.6em;
        padding: 0 7vw 0 7vw;
        
    }

    #swiftfell-lore-left h1 {
        font-size: 1.5em;
    }

    #swiftfell-lore-right {
        grid-area: 2 / 1 / span 1 / span 1;
        background-size: 20%;
        background-position: center;
    }

    #basic-controls {
        height: 70vh;
    }

    #basic-controls-right {
        font-size: 0.7em;
        padding-left: 1vw;

    }
    
    #basic-controls-right h1 {
        font-size: 1.5em;
    }

    #combat-basics {
        height: 85vh;
        background-image: none;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    #combat-basics-left {
        font-size: 0.7em;
        grid-area: 1 / 1 / span 1 / span 1;
        background-image: url('/images/basic-bg2.png');
        background-position: center;
        background-size: cover;
        padding-right: 8vw;
    }

    #combat-basics-left h1 {
        font-size: 1.5em;
    }

    #combat-basics-right {
        grid-area: 2 / 1 / span 1 / span 1;
        z-index: -1;
        background-image: url('/images/basic-bg2.png');
        background-size: cover;
        background-position: center;
    }

    #combat-basics-right img {
        display: none;
    }
}