body {
    font-family: 'Courgette', cursive;
    background-image: linear-gradient(to right, #00705e, rgb(1, 175, 175));
    color: black;
    width: 100vw;
}

.text-shadowing {
    text-shadow: 2px 2px rgb(146, 146, 146);
}

#main-sec1 {
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px, right;
}

#title-img {
    padding-top: 12vh;
}

#intro-text {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 1.35em;
}

#swiftfell-lore {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 150vh;
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-position: bottom;
}

#swiftfell-lore-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    font-size: 1.1em;
}
#swiftfell-lore-left p {
    padding-left: 7vw;
    padding-right: 1vw;
}

#swiftfell-lore-right {
    display: flex;
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url('/images/fantasy-village1.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: 8%;
    background-position-y: 32%;
}

#basic-controls {
    display: grid;
    grid-template-columns: 33.3% 66.6%;
    grid-template-rows: 100%;
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-position: top;
    padding-top: 5vh;
}

#basic-controls-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: url('/images/controls.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#basic-controls-right {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / span 1 / span 1;
    align-items: center;
    font-size: 1.3em;
}

#basic-controls-right p {
    padding-right: 10vw;
}

#combat-basics {
    display: grid;
    grid-template-columns: 66.6% 33.3%;
    grid-template-rows: 100%;
    height: 185vh;
    background-image: url('/images/basic-bg2.png');
    background-size: cover;
    background-position: bottom;
}

#combat-basics-left {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    font-size: 1.3em;
}

#combat-basics-left p {
    padding-left: 7vw;
}

#combat-basics-right {
    display: grid;
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url('/images/combat-basics.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 35%;
}

#main-characters {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* grid-template-rows: repeat(4, 4fr); */
}

#main-characters-center1 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / span 1 / span 3;
    align-items: center;
    background-image: url('/images/basic-bg2.png');
    background-position: top;
    background-size: cover;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 5vh;
}

#main-characters-center2 {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 1 / span 3;
    align-items: center;
    background-image: url('/images/basic-bg2.png');
    background-position: center;
    background-size: cover;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 1vw;
}

#main-characters-center3 {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / span 1 / span 3;
    align-items: center;
    background-image: url('/images/basic-bg2.png');
    background-position: center;
    background-size: cover;
    padding-left: 20vw;
    padding-right: 20vw;
}

#main-characters-center4 {
    display: flex;
    flex-direction: column;
    grid-area: 4 / 1 / span 1 / span 3;
    align-items: center;
    background-image: url('/images/basic-bg2.png');
    background-position: bottom;
    background-size: cover;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 5vh;
}



@media (max-width: 700px) {
    #title-img img {
        width: 70%;
        padding-top: 0;
    }

    #intro-text {
        font-size: 1em;
    }

    #main-sec1 {
        background-position: initial;
    }

    #swiftfell-lore {
        /* background-position: center; */
        height: 90vh;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }

    #swiftfell-lore-left {
        grid-area: 1 / 1 / span 1 / span 1;
        font-size: 0.6em;
        padding: 0 7vw 0 7vw;
        
    }

    #swiftfell-lore-left h1 {
        font-size: 1.5em;
    }

    #swiftfell-lore-right {
        grid-area: 2 / 1 / span 1 / span 1;
        background-size: 20%;
        background-position: center;
    }

    #basic-controls {
        background-size: cover;
        padding-top: 0;
        background-repeat: no-repeat;
        grid-template-columns: 100%;
    }

    #basic-controls-left {
        grid-area: 1 / 1 / span 1 / span 1;
        background-position-x: 50%;
        background-position-y: 50%;
        opacity: 0.3;
        background-size: 50%;
    }

    #basic-controls-right {
        font-size: 0.7em;
        padding-left: 1vw;
        grid-area: 1 / 1 / span 1 / span 1;
        padding-left: 9vw;
        height: 80vh;
    }
    
    #basic-controls-right h1 {
        font-size: 1.5em;
    }

    #combat-basics {
        height: 120vh;
        grid-template-columns: 100%;
    }

    #combat-basics-left {
        font-size: 0.7em;
        grid-area: 1 / 1 / span 1 / span 1;
        padding-right: 8vw;
    }

    #combat-basics-left h1 {
        font-size: 1.5em;
    }

    #combat-basics-right {
        grid-area: 1 / 1 / span 1 / span 1;
        background-size: 70%;
        opacity: 0.4;
        background-position: center;
    }

    #combat-basics-right img {
        display: none;
    }

    .char-name {
        font-size: 1.3em;
    }

    #main-characters {
        font-size: 0.7em;

    }

    #main-characters h1 {
        font-size: 1.5em;
        margin-bottom: 0;
    }

    #main-characters img {
        height: 56px;
        width: 56px;
    }

    #main-characters-center1 {
        padding: 0 5vw 0 5vw;
        height: 100vh;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #main-characters-center2 {
        padding: 0 5vw 0 5vw;
        height: 95vh;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10vh;
    }

    #main-characters-center3 {
        padding: 0 5vw 0 5vw;
        height: 110vh;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10vh;
    }

    #main-characters-center4 {
        padding: 0 5vw 0 5vw;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 6vh;
    }
}