.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

.main-bg-color {
    background-image: linear-gradient(to bottom right, #00705e, rgb(1, 175, 175));
}

.title-shadow {
    text-shadow: 2px 2px rgb(114, 114, 114);
}