body {
    background-color: #2C9899;
}

.main {
    display: flex;
    flex-direction: column;
    height: 91vh;
    background-image: url('/images/messenger2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}