body {
  font-family: 'Courgette', cursive;
  background-image: url('/images/mountains-sign.jpeg')
}

#app {
  display: grid;
  height: 95vh;
  width: 100vw;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 60% 20%;
}

#sign-in-area {
  display: flex;
  grid-area: 2 / 2 / span 1 / span 1;
  align-items: center;
  justify-content: center;
}

#sign-in-area img {
  height: 130%;
  z-index: -1;
}

#form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / span 1 / span 1;
}

.form-resize {
  width: 20vw;
}

.btn-primary {
  background-color: seagreen;
  border: 1px solid black;
}

@media (max-width: 900px) {
  #app {
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  #form-area {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  #sign-in-area {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  #sign-in-area img {
    height: 100%;
    width: 100%;
  }

  .form-resize {
    width: 55vw;
  }

  #form-area {
    padding-right: 5vw;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  #app {
    height: 170vh;
  }
}