body {
  background-image: url('/images/title-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main-img-area {
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}