#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
}

#app::after {
  content: "";
  background: url('/images/new-title-img.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#image-area {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}

#image-area-top {
  grid-area: 1 / 1 / span 1 / span 1;
  animation: fadein 3s;
}

#image-area-bottom {
  grid-area: 2 / 1 / span 1 / span 1;
}

#tfs-logo {
  margin-top: 5vh;
  margin-left: 5vw;
  cursor: pointer;
}

#tfs-enter {
  margin-left: 4vw;
  cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; transform: scale(0); }
    20% { opacity: 0; transform: scale(0); }
    to   { opacity: 1; transform: scale(1); }
}

@media (max-width: 900px) {
  #app {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  #app::after {
    background-position-x: 57%;
  }

  #image-area {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #tfs-logo {
    margin: 0;
  }

  #image-area-bottom {
    display: none;
  }
}