<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/game-main.css">

<body>
    <% include ../partials/nav %>

    <br>
    <div>
        <h1 class="text-center">Coming Soon</h1>
    </div>
    <br>
    <div class="text-center">
        <a href="/home" class="btn btn-primary btn-lg">Back to Game Menu</a>
    </div>
    
</body>
</html>