<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>

    <div id="main-sec1">
        
        <div id="title-img" class="text-center pt-3 pb-3">
            <img src="/images/instructions.png">
        </div>
        
        <div id="intro-text">
            <p class="mb-0 pb-5 pt-3">Tales from Swiftfell is a fantasy role-playing game built in the style of a classic 16bit console video game. TFS uses the latest RPG Maker MV software, a development tool which utilizes Javascript that is simple enough for a child, but powerful enough for a developer. TFS is designed to run directly from your web browser, meaning no downloads, no installations, just adventure!</p>
        </div>
    </div>

    <div id="swiftfell-lore">
        <div id="swiftfell-lore-left">
            <h1 class="mt-5 text-shadowing">Welcome to Swiftfell</h1>
            <br>
            <p>(place holder test)</p>
        </div>
        <div id="swiftfell-lore-right">
            <!-- Intentionally blank for background image -->
        </div>
    </div>

    <div id="basic-controls">
        <div id="basic-controls-left">
            <!-- Intentionally blank for background image -->
        </div>
        <div id="basic-controls-right">
            <h1 class="mt-5 text-shadowing">Controls</h1>
            <br>
            <p class="px-3"><b>Directional Keys: </b>Move your character up, down, left, and right. By default, your character will move at walking speed.</p>
            <br>
            <p class="px-3"><b>Z: </b>General action key. Press Z to talk to people, interact with the environment, advance text dialogue, and confirm menu selections.</p>
            <br>
            <p class="px-3"><b>X: </b>Cancel or alternate action key. Press X to cancel a menu selection or to pull up the character menu when outside of battle.</p>
            <br>
            <p class="px-3"><b>Shift (Hold): </b>Dash. Hold down the Shift key to move at Dash speed. Note that all maps, like the Overworld, do not allow your Hero to dash.</p>
            <br>
            <p class="px-3"><b>Mouse Click or Screen Touch: </b>Click, or touch if playing on a mobile device, to move your Hero to the specified location, interact with an NPC or object, or confirm menu selection.</p>

        </div>
    </div>

    <div id="combat-basics">
        <div id="combat-basics-left">
            <h1 class="mt-5 text-shadowing">Combat Basics</h1>
            <br>
            <p>(place holder text)</p>
        </div>
        <div id="combat-basics-right">
            <!-- Intentionally left blank for background image -->
        </div>
    </div>

    <div id="main-characters">
        <!-- TODO: Use bootstrap media cards for this section -->
    </div>
    
    <!-- <ul class="list-unstyled" style="padding-left: 8em; padding-right: 15em;">
        <li class="media">
            <img class="align-self-center mr-3" src="/images/game-controller.png" width="5%" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><u>Basic Controlls</u></h5>
                <b>Directional Keys:</b> Move your character up, down, left, and right. By default, your character will move at walking speed.<br>
                <b>Z:</b> General action key. Press Z to talk to people, interact with the environment, advance text dialogue, and confirm menu selections.<br>
                <b>X:</b> Cancel or alternate action key. Press X to cancel a menu selection or to pull up the character menu when outside of battle.<br>
                <b>Shift (Hold):</b> Dash. Hold down the Shift key to move at Dash speed.<br>
            </div>
        </li>
        <br>
        <br>

        <li class="media">
            <img class="align-self-center mr-3" src="/images/sword-icon.png" width="5%" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><u>Combat</u></h5>
                <p>TFS utilizes a turn-based, side-view combat system. A character's agility stat is used to determine who will act first during any round of combat. When engaged in battle, a hero has several options...</p>
                <ul>
                    <li><b>Attack: </b>A hero will attack with their equipped weapon, dealing damage to the enemy selected.</li>
                </ul>
            </div>
        </li>
        <br>
        <br>
        
        
    </ul> -->

    <br>
    <div class="text-center">
        <a href="/home" class="btn btn-primary btn-lg">Back to Game Menu</a>
    </div>
    <br><br>

    <link rel="stylesheet" href="/stylesheets/instructions.css">
</body>

</html>