<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div id="app">
        <div id="main-sec1">
            
            <div id="title-img" class="text-center pb-3">
                <img src="/images/instructions.png">
            </div>
            
            <div id="intro-text">
                <p class="mb-0 pb-5 pt-3">Tales from Swiftfell is a fantasy role-playing game built in the style of a classic 16bit console video game. TFS uses the latest RPG Maker MV software, a development tool which utilizes Javascript that is simple enough for a child, but powerful enough for a developer. TFS is designed to run directly from your web browser, meaning no downloads, no installations, just adventure!</p>
            </div>
        </div>

        <div id="swiftfell-lore" class="bg-image">
            <div id="swiftfell-lore-left">
                <h1 class="mt-5 text-shadowing"><u>Welcome to Swiftfell</u></h1>
                <br>
                <p>(place holder test)</p>
            </div>
            <div id="swiftfell-lore-right">
                <!-- Intentionally blank for background image -->
            </div>
        </div>

        <div id="basic-controls" class="bg-image">
            <div id="basic-controls-left">
                <!-- Intentionally blank for background image -->
            </div>
            <div id="basic-controls-right">
                <h1 class="mt-5 text-shadowing"><u>Controls</u></h1>
                <br>
                <p><b>Directional Keys: </b>Move your character up, down, left, and right. By default, your character will move at walking speed.</p>
                <br>
                <p><b>Z: </b>General action key. Press Z to talk to people, interact with the environment, advance text dialogue, and confirm menu selections.</p>
                <br>
                <p><b>X: </b>Cancel or alternate action key. Press X to cancel a menu selection or to pull up the character menu when outside of battle.</p>
                <br>
                <p><b>Shift (Hold): </b>Dash. Hold down the Shift key to move at Dash speed. Note that all maps, like the Overworld, do not allow your Hero to dash.</p>
                <br>
                <p><b>Mouse Click or Screen Touch: </b>Click, or touch if playing on a mobile device, to move your Hero to the specified location, interact with an NPC or object, or confirm menu selection.</p>

            </div>
        </div>

        <div id="combat-basics" class="bg-image">
            <div id="combat-basics-left">
                <h1 class="mt-5 text-shadowing"><u>Combat Basics</u></h1>
                <br>
                <p><b>Turn-Based-Combat: </b>TFS utilizes a turn-based combat system. At the start of a combat turn, you select an action for each of your party members. Once all selections have been made, an agility stat calculation is made to determine the order of actions carried out.</p>
                <br>
                <p><b>Attack: </b>Using your Hero's equipped weapon, attack a selected target to deal damage. Classes that have strong Attack ability are Hero and Warrior.</p>
                <br>
                <p><b>Guard: </b>Your Hero takes up a defensive posture and guards against any incoming physical attack that round. Typically, the damage your Hero would have taken is reduced by 50%.</p>
                <br>
                <p><b>Magic: </b>Select a spell to cast that round. A spell may deal damage, heal a Hero, grant a status buff, or inflict a status aliment on an enemy.</p>
                <br>
                <p><b>Special: </b>Every combat action your Hero takes earns him/her Technique Points. Special moves cost various Technique Points and, like spells, can have varying effects depending on the Hero's class.</p>
                <br>
                <p><b>Item: </b>Use an item from your inventory in combat. An item may restore a Hero's Hit Points, Magic Points, cure status aliments, or some have other effect.</p>
                <br>
                <p><b>Escape: </b>Allows your party to flee battle. This is best to use if your Hero's are running low on or if an enemy is too strong.</p>
            </div>
            <div id="combat-basics-right">
                <!-- Intentionally left blank for background image -->
            </div>
        </div>

        <div id="main-characters">
            <div id="main-characters-center">
                <h1 class="mt-5 text-shadowing"><u>Main Characters</u></h1>
                <br><br>
                
                <div class="media">
                    <img class="align-self-start mr-3" src="/images/hero-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">(Hero)</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/sheryl-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Sheryl</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/janna-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Janna</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/megan-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Megan</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/master-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Master</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/soren-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Soren</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/jager-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Jager</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

                <div class="media">
                    <img class="align-self-start mr-3" src="/images/gale-face.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Gale</h5>
                        <p>(place holder description 1)</p>
                        <p>(Second text place holder area)</p>
                    </div>
                </div>
                <br><br><br>

            </div>
        </div>
    </div>
    
    
    <div class="text-center">
        <a href="/home" class="btn btn-primary btn-lg border border-dark">Back to Game Menu</a>
    </div>
    <br><br>

    <link rel="stylesheet" href="/stylesheets/instructions.css">
</body>

</html>