<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<% include ../partials/scripts %>
<link rel="stylesheet" href="/stylesheets/game-main.css">

<body>
    <% include ../partials/nav %>

    <br>
    <div>
        <h1 class="text-center" style="font-family: 'Courgette', cursive;"><u>Gameplay Instructions</u></h1>
    </div>
    <br>
    <div class="col text-center px-5">
        <p class="project-font">Tales from Swiftfell is a fantasy role-playing game built in the style of a classic 16bit console video game. TFS uses the latest RPG Maker MV software, a development tool which utilizes Javascript that is simple enough for a child, but powerful enough for a developer. TFS is designed to run directly from your web browser, meaning no downloads, no installations, just adventure!</p>
    </div>
    
    <br>
    <div class="text-center">
        <a href="/home" class="btn btn-primary btn-lg">Back to Game Menu</a>
    </div>
    
</body>
</html>