<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/game-main.css">

<body>
    <% include ../partials/nav %>
    
</body>
<br>
    <div>
        <h1 class="text-center">COMING SOON</h1>
    </div>
    <br>
    <div class="text-center">
        <a href="/home" class="btn btn-primary btn-lg">Back to Menu</a>
    </div>

</html>