<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <p></p>
    
    <p><iframe class="forum-style" src="http://tfs-forum.forumotion.com"></iframe></p>


</body>
<link rel="stylesheet" href="/stylesheets/message-board.css">
</html>