<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/home-main.css">

<body>
    <% include ../partials/nav %>
    
    <div id="app">
        <div id="title-sec">
            <div id="title-sec-img">
                
            </div>
            <div id="title-sec-text">
                <img src="/images/logo-text.png">
            </div>
        </div>

        <div id="dragon-battle-sec">
            <div id="dragon-sec-img">
                <!-- intentionally blank -->
            </div>
            <div id="dragon-sec-text">
                <p class="pb-5">An ancient and mysterious evil arises, forcing the Heroes of Swiftfell to once again defend the realm of Sundirra...</p>

                <p class="pt-5 pb-5">... the Aeon Crystal, an etherial relic beset on the side of light, has fallen into darkness...</p>

                <p class="pt-5">... a world now engulfed in despair cries out for a savior... <i>will you answer?</i></p>
            </div>
        </div>

        <div id="card-sec">
            <div id="card-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="card-sec-text">

            </div>
        </div>

        <div id="signup-sec">
            <div id="signup-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="signup-sec-field">
                
            </div>
            <div id="signup-sec-text">
                <p>Sign up for a FREE account today to embark on your journey!</p>
                <br>
                <a class="button btn btn-lg btn-primary" href="/user/signup">Sign Up</a>
            </div>
        </div>
    </div>


    
</body>
</html>