<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/home-main.css">

<body>
    <% include ../partials/nav %>
    
    <div id="app">
        <div id="title-sec">
            <div id="title-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="title-sec-text">
                <img src="/images/logo-text.png">
            </div>
        </div>

        <div id="dragon-battle-sec">
            <div id="dragon-sec-img">
                <!-- intentionally blank -->
            </div>
            <div id="dragon-sec-text">
                <p class="pb-5">An ancient and mysterious evil arises, forcing the Heroes of Swiftfell to once again defend the realm of Sundirra...</p>

                <p class="pt-5 pb-5">... the Aeon Crystal, an ethereal relic beset on the side of light, has fallen into darkness...</p>

                <p class="pt-5">... a world now engulfed in despair cries out for a savior... <i>will you answer?</i></p>
            </div>
        </div>

        <div id="card-sec">
            <div id="card-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="card-sec-text">
                <div id="card-sec-text-left">
                    <!-- Card 1 -->
                    <div class="tfs-card">
                        <div class="tfs-card-top">
                            <img src="/images/forest1.jpg" style="width: 100%;">
                        </div>
                        <div class="tfs-card-bottom">
                            <p class="px-2">Explore enchanted forests that serve as home to an array of mythical creatures, thick groves, and dangerous beasts.</p>
                        </div>
                    </div>
                    <!-- End card 1 -->
                </div>
                <div id="card-sec-text-middle">
                    <!-- Card 2 -->
                    <div class="tfs-card">
                        <div class="tfs-card-top">
                            <img src="/images/desert1.jpg" style="width: 100%;">
                        </div>
                        <div class="tfs-card-bottom">
                            <p class="px-2">Summon your courage to cross vast and expansive deserts where, rumor has it, a nomadic tribe obsessed with ethereal magic roams the dunes.</p>
                        </div>
                    </div>
                    <!-- End card 2 -->
                </div>
                <div id="card-sec-text-right">
                    <!-- Card 3 -->
                    <div class="tfs-card">
                        <div class="tfs-card-top">
                            <img src="/images/mountians.jpg" style="width: 100%;">
                        </div>
                        <div class="tfs-card-bottom">
                            <p class="px-2">Scale treacherous mountainsides as you discover deep caverns and unlock intriguing puzzles, which guard fabled treasures left behind by an extinct race of mine-dwellers.</p>
                        </div>
                    </div>
                    <!-- End card 3 -->
                </div>
            </div>
        </div>

        <div id="signup-sec">
            <div id="signup-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="signup-sec-field">
                
            </div>
            <div id="signup-sec-text">
                <p>Sign up for a FREE account today to embark on your journey!</p>
                <br>
                <a class="button btn btn-lg btn-primary" href="/user/signup">Sign Up</a>
            </div>
        </div>
    </div>


    
</body>
</html>