<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/home-main.css">

<body>
    <% include ../partials/nav %>
    
    <div id="app">
        <div id="title-sec">
            <div id="title-sec-img">
                
            </div>
            <div id="title-sec-text">
                <img src="/images/logo-text.png">
            </div>
        </div>

        <div id="dragon-battle-sec">
            <div id="dragon-sec-img">
                <!-- intentionally blank -->
            </div>
            <div id="dragon-sec-text">
                <p>Team up with other Heroes to slay monsters, solve mysteries, and unlock secrets untold throughout the realm of Sundirra.</p>
            </div>
        </div>

        <div id="card-sec">
            <div id="card-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="card-sec-text">

            </div>
        </div>

        <div id="signup-sec">
            <div id="signup-sec-img">
                <!-- Intentionally blank -->
            </div>
            <div id="signup-sec-text">

            </div>
        </div>
    </div>


    
</body>
</html>