<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheets/home-main.css">

<body>
    <% include ../partials/nav %>
    
    <div id="app">
        <div id="title-sec">
            <div id="title-sec-img">
                
            </div>
            <div id="title-sec-text">
                <img src="/images/logo-text.png">
            </div>
        </div>
    </div>


    
</body>
</html>